In [67]:
import nfl_data_py as nfl
import pandas as pd
import os
import urllib.request
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnnotationBbox
from matplotlib.offsetbox import OffsetImage
from PIL import Image
import numpy as np
from io import BytesIO
import requests
# ML Libraries
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas
import plotly.express as px

# Graphing 
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.pyplot import figure

In [68]:
nfl_data = nfl.import_schedules([2023])
original_df = nfl_data.groupby('week')
original_df.head()

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
6421,2023_01_DET_KC,2023,REG,1,2023-09-07,Thursday,20:20,DET,21.0,KC,...,NaN,00-0033106,00-0033873,Jared Goff,Patrick Mahomes,Dan Campbell,Andy Reid,John Hussey,KAN00,GEHA Field at Arrowhead Stadium
6422,2023_01_CAR_ATL,2023,REG,1,2023-09-10,Sunday,13:00,CAR,10.0,ATL,...,NaN,00-0039150,00-0038122,Bryce Young,Desmond Ridder,Frank Reich,Arthur Smith,Brad Rogers,ATL97,Mercedes-Benz Stadium
6423,2023_01_HOU_BAL,2023,REG,1,2023-09-10,Sunday,13:00,HOU,9.0,BAL,...,NaN,00-0039163,00-0034796,C.J. Stroud,Lamar Jackson,DeMeco Ryans,John Harbaugh,Tra Blake,BAL00,M&T Bank Stadium
6424,2023_01_CIN_CLE,2023,REG,1,2023-09-10,Sunday,13:00,CIN,3.0,CLE,...,NaN,00-0036442,00-0033537,Joe Burrow,Deshaun Watson,Zac Taylor,Kevin Stefanski,Clete Blakeman,CLE00,FirstEnergy Stadium
6425,2023_01_JAX_IND,2023,REG,1,2023-09-10,Sunday,13:00,JAX,31.0,IND,...,NaN,00-0036971,00-0039164,Trevor Lawrence,Anthony Richardson,Doug Pederson,Shane Steichen,Clay Martin,IND00,Lucas Oil Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6677,2023_18_SEA_ARI,2023,REG,18,2024-01-07,Sunday,13:00,SEA,NaN,ARI,...,NaN,NaN,NaN,NaN,NaN,Pete Carroll,Jonathan Gannon,NaN,PHO00,State Farm Stadium
6678,2023_18_PIT_BAL,2023,REG,18,2024-01-07,Sunday,13:00,PIT,NaN,BAL,...,NaN,NaN,NaN,NaN,NaN,Mike Tomlin,John Harbaugh,NaN,BAL00,M&T Bank Stadium
6679,2023_18_TB_CAR,2023,REG,18,2024-01-07,Sunday,13:00,TB,NaN,CAR,...,NaN,NaN,NaN,NaN,NaN,Todd Bowles,Frank Reich,NaN,CAR00,Bank of America Stadium
6680,2023_18_CLE_CIN,2023,REG,18,2024-01-07,Sunday,13:00,CLE,NaN,CIN,...,NaN,NaN,NaN,NaN,NaN,Kevin Stefanski,Zac Taylor,NaN,CIN00,Paycor Stadium
6681,2023_18_MIN_DET,2023,REG,18,2024-01-07,Sunday,13:00,MIN,NaN,DET,...,NaN,NaN,NaN,NaN,NaN,Kevin O'Connell,Dan Campbell,NaN,DET00,Ford Field

In [69]:
# Select relevant columns for team vs. team DataFrame
team_vs_team_df = nfl_data[['season', 'week', 'away_team', 'away_score', 'home_team', 'home_score']]

# Rename the columns for clarity
team_vs_team_df.columns = ['season', 'week', 'team_1', 'score_1', 'team_2', 'score_2']

# Drop rows with missing scores
#team_vs_team_df = team_vs_team_df.dropna(subset=['score_1', 'score_2'])

# Reset the index of the new DataFrame
team_vs_team_df.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
team_vs_team_df.head()

   season  week team_1  score_1 team_2  score_2
0    2023     1    DET     21.0     KC     20.0
1    2023     1    CAR     10.0    ATL     24.0
2    2023     1    HOU      9.0    BAL     25.0
3    2023     1    CIN      3.0    CLE     24.0
4    2023     1    JAX     31.0    IND     21.0

In [99]:
#defensive epa stats
weekly_nfl = nfl.import_weekly_data([2023])
# Create DF to get epa rushing and receiving vs d
columns = ['opponent_team', 'receiving_epa', 'rushing_epa','passing_yards','rushing_yards','pacr']
epa_df = weekly_nfl[columns]
#epa_df.head()
#epa_df = epa_df.dropna(subset=['receiving_epa','rushing_epa','passing_yards','rushing_yards','pacr'])
epa_sum_df = epa_df.groupby('opponent_team').sum().reset_index()
epa_sum_df.head(30)

Downcasting floats.

,opponent_team,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr
0,ARI,54.839123,3.107988,1372.0,621.0,5.642651
1,ATL,20.150351,-29.594477,996.0,522.0,4.102467
2,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878
3,BUF,8.809984,-1.974523,1092.0,670.0,5.832715
4,CAR,20.510521,17.586418,1022.0,704.0,7.555846
5,CHI,70.223030,-12.271155,1476.0,491.0,6.619568
6,CIN,16.408253,0.822853,1068.0,770.0,4.420476
7,CLE,-14.645061,-22.324890,594.0,287.0,3.621187
8,DAL,-11.190639,-19.620403,929.0,617.0,5.612164
9,DEN,81.309113,17.989391,1409.0,938.0,8.552952
10,DET,13.990852,-12.929880,1248.0,342.0,4.281378
11,GB,14.912495,4.756005,867.0,621.0,5.526545
12,HOU,22.602375,-11.727377,1167.0,562.0,13.158757
13,IND,45.117878,-14.627284,1410.0,596.0,5.108880
14,JAX,17.348135,-15.737107,1358.0,408.0,4.813135
15,KC,-2.491525,-9.591262,1096.0,486.0,3.808558
16,LA,23.288593,-0.617666,1080.0,603.0,4.213037
17,LAC,53.937119,-6.380863,1317.0,417.0,3.965057
18,LV,33.482906,-3.643162,853.0,537.0,4.502866
19,MIA,33.794197,0.285545,1291.0,579.0,5.985287
20,MIN,58.223190,-17.431053,1305.0,512.0,8.001228
21,NE,33.763607,-18.939106,1040.0,540.0,5.079598
22,NO,-21.600914,-15.885841,988.0,458.0,3.869326
23,NYG,27.319593,8.566380,1162.0,757.0,8.503681
24,NYJ,32.925667,-17.537836,1091.0,731.0,5.098042
25,PHI,31.112825,-8.350926,1338.0,306.0,3.582805
26,PIT,18.469860,0.015233,1327.0,719.0,4.981960
27,SEA,34.667107,-12.063127,1221.0,350.0,4.311233
28,SF,-18.333870,-4.112555,1102.0,321.0,11.561263
29,TB,2.777302,-9.094487,972.0,379.0,5.218430

In [101]:
#offensive epa stats
weekly_nfl = nfl.import_weekly_data([2023])
# Create DF to get epa rushing and receiving per team
columns_o = ['recent_team', 'receiving_epa', 'rushing_epa','passing_yards','rushing_yards','pacr']
epa_o_df = weekly_nfl[columns_o]
#epa_o_df = epa_o_df.dropna()
epa_o_df = epa_o_df.groupby('recent_team').sum().reset_index()
epa_o_df.head(15)

Downcasting floats.

,recent_team,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr
0,ARI,14.279295,2.513940,980.0,716.0,4.204052
1,ATL,3.679776,-15.275964,1095.0,608.0,7.133748
2,BAL,23.091099,2.616255,1030.0,730.0,5.569858
3,BUF,67.095490,11.154277,1407.0,581.0,5.384342
4,CAR,21.043470,-16.668016,1111.0,480.0,4.566851
5,CHI,27.070440,8.410247,1143.0,654.0,5.546358
6,CIN,7.621044,-16.257490,1045.0,373.0,4.389519
7,CLE,-15.774754,-13.365771,799.0,575.0,2.510872
8,DAL,21.013273,-11.609193,1089.0,622.0,14.397241
9,DEN,42.743176,-4.310325,1210.0,521.0,5.414511
10,DET,37.195839,-9.744430,1265.0,705.0,5.721144
11,GB,17.623388,-6.908947,901.0,298.0,2.787537
12,HOU,60.871635,-28.130983,1467.0,413.0,5.981930
13,IND,24.097956,-17.993580,1130.0,656.0,10.140896
14,JAX,25.047474,-22.737844,1266.0,596.0,6.373109

In [102]:
epa_total = pd.merge(epa_sum_df, epa_o_df, left_on='opponent_team', right_on='recent_team', how='inner')
epa_total = epa_total.drop('recent_team', axis=1)
epa_total.columns = ['team', 'defense_receiving_epa', 'defense_rushing_epa', 'defense_passing_yards','defensive_rushing_yards', 'd_pacr','receiving_epa','rushing_epa','passing_yards','rushing_yards','pacr']
epa_total['opponent'] = epa_total['team']
epa_total.head(32)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent
0,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI
1,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL
2,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL
3,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF
4,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR
5,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI
6,CIN,16.408253,0.822853,1068.0,770.0,4.420476,7.621044,-16.257490,1045.0,373.0,4.389519,CIN
7,CLE,-14.645061,-22.324890,594.0,287.0,3.621187,-15.774754,-13.365771,799.0,575.0,2.510872,CLE
8,DAL,-11.190639,-19.620403,929.0,617.0,5.612164,21.013273,-11.609193,1089.0,622.0,14.397241,DAL
9,DEN,81.309113,17.989391,1409.0,938.0,8.552952,42.743176,-4.310325,1210.0,521.0,5.414511,DEN
10,DET,13.990852,-12.929880,1248.0,342.0,4.281378,37.195839,-9.744430,1265.0,705.0,5.721144,DET
11,GB,14.912495,4.756005,867.0,621.0,5.526545,17.623388,-6.908947,901.0,298.0,2.787537,GB
12,HOU,22.602375,-11.727377,1167.0,562.0,13.158757,60.871635,-28.130983,1467.0,413.0,5.981930,HOU
13,IND,45.117878,-14.627284,1410.0,596.0,5.108880,24.097956,-17.993580,1130.0,656.0,10.140896,IND
14,JAX,17.348135,-15.737107,1358.0,408.0,4.813135,25.047474,-22.737844,1266.0,596.0,6.373109,JAX
15,KC,-2.491525,-9.591262,1096.0,486.0,3.808558,36.600780,-2.750154,1318.0,615.0,6.173470,KC
16,LA,23.288593,-0.617666,1080.0,603.0,4.213037,43.609512,9.037380,1451.0,470.0,4.191568,LA
17,LAC,53.937119,-6.380863,1317.0,417.0,3.965057,46.320683,0.195671,1155.0,479.0,5.744962,LAC
18,LV,33.482906,-3.643162,853.0,537.0,4.502866,18.410675,-17.462505,947.0,261.0,3.710440,LV
19,MIA,33.794197,0.285545,1291.0,579.0,5.985287,79.551033,13.928615,1681.0,929.0,9.845415,MIA
20,MIN,58.223190,-17.431053,1305.0,512.0,8.001228,23.667110,-3.562481,1498.0,404.0,4.623412,MIN
21,NE,33.763607,-18.939106,1040.0,540.0,5.079598,-36.282547,-31.683552,1087.0,419.0,4.596801,NE
22,NO,-21.600914,-15.885841,988.0,458.0,3.869326,20.074425,-25.122538,1068.0,486.0,7.523236,NO
23,NYG,27.319593,8.566380,1162.0,757.0,8.503681,-9.341506,-8.679542,976.0,461.0,5.939234,NYG
24,NYJ,32.925667,-17.537836,1091.0,731.0,5.098042,-9.799222,-8.322479,911.0,616.0,4.668507,NYJ
25,PHI,31.112825,-8.350926,1338.0,306.0,3.582805,40.669811,15.134556,1262.0,820.0,4.075030,PHI
26,PIT,18.469860,0.015233,1327.0,719.0,4.981960,-8.111526,-24.050304,1045.0,402.0,5.188985,PIT
27,SEA,34.667107,-12.063127,1221.0,350.0,4.311233,24.162252,8.933350,909.0,434.0,5.815188,SEA
28,SF,-18.333870,-4.112555,1102.0,321.0,11.561263,89.252129,0.237494,1272.0,782.0,6.276107,SF
29,TB,2.777302,-9.094487,972.0,379.0,5.218430,32.099781,-25.035461,882.0,348.0,3.936071,TB
30,TEN,55.260544,-24.564528,1317.0,473.0,6.643962,25.178766,-13.057044,1054.0,533.0,5.019050,TEN
31,WAS,55.021687,11.897283,1259.0,668.0,4.310420,18.734190,2.154279,1349.0,455.0,4.752908,WAS

In [103]:
# Create a new DataFrame with 'week', 'team_1', and 'team_2' columns
teams_df = team_vs_team_df[['week', 'team_1', 'team_2']].copy()

# Rename the columns for clarity
teams_df.columns = ['week', 'team', 'opponent']

# Create a new DataFrame with 'week', 'score_1', and 'score_2' columns
scores_df = team_vs_team_df[['week', 'score_1', 'score_2']].copy()

# Rename the columns for clarity
scores_df.columns = ['week', 'team_score', 'opponent_score']

# Concatenate the two DataFrames vertically
result_df = pd.concat([teams_df, scores_df], axis=1)

In [104]:
result_df.head(30)

    week team opponent  week  team_score  opponent_score
0      1  DET       KC     1        21.0            20.0
1      1  CAR      ATL     1        10.0            24.0
2      1  HOU      BAL     1         9.0            25.0
3      1  CIN      CLE     1         3.0            24.0
4      1  JAX      IND     1        31.0            21.0
5      1   TB      MIN     1        20.0            17.0
6      1  TEN       NO     1        15.0            16.0
7      1   SF      PIT     1        30.0             7.0
8      1  ARI      WAS     1        16.0            20.0
9      1   GB      CHI     1        38.0            20.0
10     1   LV      DEN     1        17.0            16.0
11     1  MIA      LAC     1        36.0            34.0
12     1  PHI       NE     1        25.0            20.0
13     1   LA      SEA     1        30.0            13.0
14     1  DAL      NYG     1        40.0             0.0
15     1  BUF      NYJ     1        16.0            22.0
16     2  MIN      PHI     2        28.0            34.0
17     2   GB      ATL     2        24.0            25.0
18     2   LV      BUF     2        10.0            38.0
19     2  BAL      CIN     2        27.0            24.0
20     2  SEA      DET     2        37.0            31.0
21     2  IND      HOU     2        31.0            20.0
22     2   KC      JAX     2        17.0             9.0
23     2  CHI       TB     2        17.0            27.0
24     2  LAC      TEN     2        24.0            27.0
25     2  NYG      ARI     2        31.0            28.0
26     2   SF       LA     2        30.0            23.0
27     2  NYJ      DAL     2        10.0            30.0
28     2  WAS      DEN     2        35.0            33.0
29     2  MIA       NE     2        24.0            17.0

In [105]:
final_df = result_df[['week', 'team', 'opponent', 'team_score', 'opponent_score']].copy()
final_df.head(5)

   week  week team opponent  team_score  opponent_score
0     1     1  DET       KC        21.0            20.0
1     1     1  CAR      ATL        10.0            24.0
2     1     1  HOU      BAL         9.0            25.0
3     1     1  CIN      CLE         3.0            24.0
4     1     1  JAX      IND        31.0            21.0

In [106]:
# Duplicate the DataFrame and swap 'team' and 'opponent' columns
df2 = final_df.copy()
df2.rename(columns={'team': 'opponent', 'opponent': 'team', 'opponent_score': 'team_score', 'team_score': 'opponent_score'}, inplace=True)
order = ['team', 'opponent', 'team_score', 'opponent_score']
df2 = df2[order]
df2.head()
final_df = final_df[order]
final_df.head(30)

   team opponent  team_score  opponent_score
0   DET       KC        21.0            20.0
1   CAR      ATL        10.0            24.0
2   HOU      BAL         9.0            25.0
3   CIN      CLE         3.0            24.0
4   JAX      IND        31.0            21.0
5    TB      MIN        20.0            17.0
6   TEN       NO        15.0            16.0
7    SF      PIT        30.0             7.0
8   ARI      WAS        16.0            20.0
9    GB      CHI        38.0            20.0
10   LV      DEN        17.0            16.0
11  MIA      LAC        36.0            34.0
12  PHI       NE        25.0            20.0
13   LA      SEA        30.0            13.0
14  DAL      NYG        40.0             0.0
15  BUF      NYJ        16.0            22.0
16  MIN      PHI        28.0            34.0
17   GB      ATL        24.0            25.0
18   LV      BUF        10.0            38.0
19  BAL      CIN        27.0            24.0
20  SEA      DET        37.0            31.0
21  IND      HOU        31.0            20.0
22   KC      JAX        17.0             9.0
23  CHI       TB        17.0            27.0
24  LAC      TEN        24.0            27.0
25  NYG      ARI        31.0            28.0
26   SF       LA        30.0            23.0
27  NYJ      DAL        10.0            30.0
28  WAS      DEN        35.0            33.0
29  MIA       NE        24.0            17.0

In [107]:
# Reset the index for both DataFrames
final_df = final_df.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df2.head()
# Reset the index if needed
stacked_df = pd.concat([final_df, df2], axis=0)
stacked_df.tail(20)

    team opponent  team_score  opponent_score
252  SEA      PIT         NaN             NaN
253  DEN      LAC         NaN             NaN
254   KC      CIN         NaN             NaN
255  MIN       GB         NaN             NaN
256  ARI      SEA         NaN             NaN
257  BAL      PIT         NaN             NaN
258  CAR       TB         NaN             NaN
259  CIN      CLE         NaN             NaN
260  DET      MIN         NaN             NaN
261   GB      CHI         NaN             NaN
262  IND      HOU         NaN             NaN
263  LAC       KC         NaN             NaN
264   LV      DEN         NaN             NaN
265  MIA      BUF         NaN             NaN
266   NE      NYJ         NaN             NaN
267   NO      ATL         NaN             NaN
268  NYG      PHI         NaN             NaN
269   SF       LA         NaN             NaN
270  TEN      JAX         NaN             NaN
271  WAS      DAL         NaN             NaN

In [108]:
team = stacked_df.groupby('team')

In [116]:
team_and_stats = pd.merge(epa_total, stacked_df, on='team', how='inner')
team_and_stats.head(20)
team_and_stats = team_and_stats.dropna(subset=['team_score', 'opponent_score'])
#team_and_stats_two = team_and_stats(['team']).mean().reset_index()

team_and_stats.head(32)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent_x,opponent_y,team_score,opponent_score
0,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI,WAS,16.0,20.0
1,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI,SF,16.0,35.0
9,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI,NYG,28.0,31.0
10,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI,DAL,28.0,16.0
11,ARI,54.839123,3.107988,1372.0,621.0,5.642651,14.279295,2.513940,980.0,716.0,4.204052,ARI,CIN,20.0,34.0
17,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL,DET,6.0,20.0
18,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL,JAX,7.0,23.0
26,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL,CAR,24.0,10.0
27,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL,GB,25.0,24.0
28,ATL,20.150351,-29.594477,996.0,522.0,4.102467,3.679776,-15.275964,1095.0,608.0,7.133748,ATL,HOU,21.0,19.0
34,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL,CIN,27.0,24.0
35,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL,CLE,28.0,3.0
36,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL,PIT,10.0,17.0
42,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL,HOU,25.0,9.0
43,BAL,-0.509345,-24.420128,1036.0,457.0,3.716878,23.091099,2.616255,1030.0,730.0,5.569858,BAL,IND,19.0,22.0
51,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF,NYJ,16.0,22.0
52,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF,WAS,37.0,3.0
59,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF,LV,38.0,10.0
60,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF,MIA,48.0,20.0
61,BUF,8.809984,-1.974523,1092.0,670.0,5.832715,67.095490,11.154277,1407.0,581.0,5.384342,BUF,JAX,20.0,25.0
68,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR,ATL,10.0,24.0
69,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR,SEA,27.0,37.0
70,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR,DET,24.0,42.0
77,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR,NO,17.0,20.0
78,CAR,20.510521,17.586418,1022.0,704.0,7.555846,21.043470,-16.668016,1111.0,480.0,4.566851,CAR,MIN,13.0,21.0
85,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI,TB,17.0,27.0
86,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI,KC,10.0,41.0
87,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI,WAS,40.0,20.0
94,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI,GB,20.0,38.0
95,CHI,70.223030,-12.271155,1476.0,491.0,6.619568,27.070440,8.410247,1143.0,654.0,5.546358,CHI,DEN,28.0,31.0
102,CIN,16.408253,0.822853,1068.0,770.0,4.420476,7.621044,-16.257490,1045.0,373.0,4.389519,CIN,CLE,3.0,24.0
103,CIN,16.408253,0.822853,1068.0,770.0,4.420476,7.621044,-16.257490,1045.0,373.0,4.389519,CIN,TEN,3.0,27.0

In [18]:
#######

In [19]:
team_and_stats.dtypes
team_and_stats['team'] = team_and_stats['team'].astype(object)
team_and_stats['opponent'] = team_and_stats['opponent_y'].astype(object)

In [55]:
team_and_stats.head(8)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent_x,opponent_y,team_score,opponent_score,opponent
0,ARI,1.443135,0.141272,28.583334,12.937500,1.128530,0.366136,0.114270,20.000000,14.612245,0.840810,ARI,WAS,16.0,20.0,WAS
1,ARI,1.443135,0.141272,28.583334,12.937500,1.128530,0.366136,0.114270,20.000000,14.612245,0.840810,ARI,SF,16.0,35.0,SF
9,ARI,1.443135,0.141272,28.583334,12.937500,1.128530,0.366136,0.114270,20.000000,14.612245,0.840810,ARI,NYG,28.0,31.0,NYG
10,ARI,1.443135,0.141272,28.583334,12.937500,1.128530,0.366136,0.114270,20.000000,14.612245,0.840810,ARI,DAL,28.0,16.0,DAL
11,ARI,1.443135,0.141272,28.583334,12.937500,1.128530,0.366136,0.114270,20.000000,14.612245,0.840810,ARI,CIN,20.0,34.0,CIN
17,ATL,0.559732,-1.409261,21.191490,11.106383,0.820493,0.096836,-0.898586,25.465117,14.139535,1.188958,ATL,DET,6.0,20.0,DET
18,ATL,0.559732,-1.409261,21.191490,11.106383,0.820493,0.096836,-0.898586,25.465117,14.139535,1.188958,ATL,JAX,7.0,23.0,JAX
26,ATL,0.559732,-1.409261,21.191490,11.106383,0.820493,0.096836,-0.898586,25.465117,14.139535,1.188958,ATL,CAR,24.0,10.0,CAR

In [25]:
# create opponent stats
team_and_stats.head()

team_and_stats_opp = pd.merge(epa_total, stacked_df, on='opponent', how='inner')
#ex = team_and_stats.mean().reset_index()
#team_and_stats_opp = team_and_stats_opp.dropna(axis=1, how='any')
team_and_stats_opp = team_and_stats_opp.dropna(subset=['team_score', 'opponent_score'])

team_and_stats_opp.head()

#remove_team = ['team_x', 'team_y']
#team_and_stats_opp = team_and_stats_opp.drop(columns=remove_team)

,team_x,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent,team_y,team_score,opponent_score
0,ARI,1.443135,0.141272,28.583334,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,ARI,NYG,31.0,28.0
1,ARI,1.443135,0.141272,28.583334,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,ARI,DAL,16.0,28.0
2,ARI,1.443135,0.141272,28.583334,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,ARI,CIN,34.0,20.0
8,ARI,1.443135,0.141272,28.583334,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,ARI,WAS,20.0,16.0
9,ARI,1.443135,0.141272,28.583334,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,ARI,SF,35.0,16.0

In [26]:
team_and_stats_test_data_two = team_and_stats.merge(team_and_stats_opp, on='opponent', how='right')
team_and_stats_test_data_two = team_and_stats_test_data.drop_duplicates()
#team_and_stats_test_data_two = team_and_stats_test_data.dropna(axis=1, how='any')
team_and_stats_test_data_two.head()

NameError: name 'team_and_stats_test_data' is not defined

In [27]:
#merge opponent stats on team

team_and_stats_test_data = team_and_stats.merge(team_and_stats_opp, on='opponent', how='right')
#team_and_stats_test_data = team_and_stats_test_data.drop(['team_score_y', 'opponent_score_y'], axis=1)
team_and_stats_test_data['opponent_score_x'] = team_and_stats_test_data['opponent_score_x']
team_and_stats_test_data['opponent_score_y'] = team_and_stats_test_data['opponent_score_y']
team_and_stats_test_data = team_and_stats_test_data.drop_duplicates()
#team_and_stats_test_data = team_and_stats_test_data.dropna(axis=1, how='any')

team_and_stats_test_data.head()

,team,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,...,defensive_rushing_yards_y,d_pacr_y,receiving_epa_y,rushing_epa_y,passing_yards_y,rushing_yards_y,pacr_y,team_y,team_score_y,opponent_score_y
0,CIN,0.420724,0.041143,22.250000,16.041666,0.736746,0.205974,-0.903194,21.770834,7.770833,...,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,NYG,31.0,28.0
1,DAL,-0.873518,-0.796300,15.720930,10.395349,0.737247,0.794119,-0.078219,18.938776,11.530612,...,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,NYG,31.0,28.0
2,NYG,0.718937,0.389381,22.784313,14.843137,1.214812,-0.203076,-0.433977,17.745455,8.381818,...,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,NYG,31.0,28.0
3,SF,-0.326026,0.351212,24.128204,6.769231,0.611595,2.829727,0.300990,29.114286,17.485714,...,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,NYG,31.0,28.0
4,WAS,1.528380,0.475891,26.229166,13.916667,0.862084,0.425777,0.113383,26.450981,8.921569,...,12.9375,1.12853,0.366136,0.11427,20.0,14.612245,0.84081,NYG,31.0,28.0

In [117]:
excel_file = 'test_data_ml.xlsx'
team_and_stats_test_data.to_excel(excel_file, index=False)

In [29]:
column_names_test = [
    'defense_receiving_epa_x', 'defense_rushing_epa_x', 'defense_passing_yards_x', 'defensive_rushing_yards_x',
    'd_pacr_x', 'receiving_epa_x', 'rushing_epa_x', 'passing_yards_x', 'rushing_yards_x', 'pacr_x',
     'defense_receiving_epa_y', 'defense_rushing_epa_y',
    'defense_passing_yards_y', 'defensive_rushing_yards_y', 'd_pacr_y', 'receiving_epa_y', 'rushing_epa_y',
    'passing_yards_y', 'rushing_yards_y', 'pacr_y'
]

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# model
# Split data into features (X) and target variable (y)
X = team_and_stats_test_data[column_names_test]
y = team_and_stats_test_data[['team_score_x', 'opponent_score_x']]

# Encode categorical variables using one-hot encoding if needed

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Create a Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)
r2 = r2_score(y_test, predictions)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2): {r2}")

Mean Absolute Error (MAE): 6.539533889456971
Mean Squared Error (MSE): 64.29657992816345
Root Mean Squared Error (RMSE): 8.014243450218627
R-squared (R2): 0.37779208431651407

In [52]:
groupby_team = team_and_stats[team_and_stats['team'] == 'LV']
groupby_team.mean()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

defense_receiving_epa       0.956654
defense_rushing_epa        -0.227698
defense_passing_yards      20.309525
defensive_rushing_yards    12.785714
d_pacr                      1.125717
receiving_epa               0.634851
rushing_epa                -1.455209
passing_yards              27.057142
rushing_yards               7.457143
pacr                        0.927610
team_score                 15.500000
opponent_score             25.250000
dtype: float64

In [118]:
# Define the average values for each feature
average_values_model = {
    'defense_receiving_epa_x': 0.497083,
    'defense_rushing_epa_x': 0.297250,
    'defense_passing_yards_x': 24.083334,
    'defensive_rushing_yards_x': 17.250000,
    'd_pacr_x': 1.105309,
    'receiving_epa_x': 0.503525,
    'rushing_epa_x': -0.383830,
    'passing_yards_x': 20.477272,
    'rushing_yards_x': 6.772727,
    'pacr_x': 0.696884,
    'defense_receiving_epa_y': 0.956654,
    'defense_rushing_epa_y': -0.227698,
    'defense_passing_yards_y': 20.309525,
    'defensive_rushing_yards_y': 12.785714,
    'd_pacr_y': 1.125717,
    'receiving_epa_y': 0.634851,
    'rushing_epa_y': -1.455209,
    'passing_yards_y':  27.057142,
    'rushing_yards_y': 7.457143,
    'pacr_y': 0.927610
}


# Create a sample untrained dataset for X using the average values
data_untrained_test = {feature: [average_values_model[feature] for _ in range(4)] for feature in average_values_model}
X_untrained = pd.DataFrame(data_untrained_test)

In [119]:
# 2. Use the trained model to make predictions on X_untrained.
predictions_untrained_team = model.predict(X_untrained)
print(predictions_untrained_team)

[[21.18816359 18.21230245]
 [21.18816359 18.21230245]
 [21.18816359 18.21230245]
 [21.18816359 18.21230245]]

In [120]:
16 20

SyntaxError: invalid syntax (3868693530.py, line 1)