In [60]:
import nfl_data_py as nfl
import pandas as pd
import os
import urllib.request
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnnotationBbox
from matplotlib.offsetbox import OffsetImage
from PIL import Image
import numpy as np
from io import BytesIO
import requests
# ML Libraries
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas
import plotly.express as px

# Graphing 
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.pyplot import figure

In [61]:
nfl_data = nfl.import_schedules([2023])
original_df = nfl_data.groupby('week')
original_df.head()

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
6421,2023_01_DET_KC,2023,REG,1,2023-09-07,Thursday,20:20,DET,21.0,KC,...,NaN,00-0033106,00-0033873,Jared Goff,Patrick Mahomes,Dan Campbell,Andy Reid,John Hussey,KAN00,GEHA Field at Arrowhead Stadium
6422,2023_01_CAR_ATL,2023,REG,1,2023-09-10,Sunday,13:00,CAR,10.0,ATL,...,NaN,00-0039150,00-0038122,Bryce Young,Desmond Ridder,Frank Reich,Arthur Smith,Brad Rogers,ATL97,Mercedes-Benz Stadium
6423,2023_01_HOU_BAL,2023,REG,1,2023-09-10,Sunday,13:00,HOU,9.0,BAL,...,NaN,00-0039163,00-0034796,C.J. Stroud,Lamar Jackson,DeMeco Ryans,John Harbaugh,Tra Blake,BAL00,M&T Bank Stadium
6424,2023_01_CIN_CLE,2023,REG,1,2023-09-10,Sunday,13:00,CIN,3.0,CLE,...,NaN,00-0036442,00-0033537,Joe Burrow,Deshaun Watson,Zac Taylor,Kevin Stefanski,Clete Blakeman,CLE00,FirstEnergy Stadium
6425,2023_01_JAX_IND,2023,REG,1,2023-09-10,Sunday,13:00,JAX,31.0,IND,...,NaN,00-0036971,00-0039164,Trevor Lawrence,Anthony Richardson,Doug Pederson,Shane Steichen,Clay Martin,IND00,Lucas Oil Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6677,2023_18_SEA_ARI,2023,REG,18,2024-01-07,Sunday,13:00,SEA,NaN,ARI,...,NaN,NaN,NaN,NaN,NaN,Pete Carroll,Jonathan Gannon,NaN,PHO00,State Farm Stadium
6678,2023_18_PIT_BAL,2023,REG,18,2024-01-07,Sunday,13:00,PIT,NaN,BAL,...,NaN,NaN,NaN,NaN,NaN,Mike Tomlin,John Harbaugh,NaN,BAL00,M&T Bank Stadium
6679,2023_18_TB_CAR,2023,REG,18,2024-01-07,Sunday,13:00,TB,NaN,CAR,...,NaN,NaN,NaN,NaN,NaN,Todd Bowles,Frank Reich,NaN,CAR00,Bank of America Stadium
6680,2023_18_CLE_CIN,2023,REG,18,2024-01-07,Sunday,13:00,CLE,NaN,CIN,...,NaN,NaN,NaN,NaN,NaN,Kevin Stefanski,Zac Taylor,NaN,CIN00,Paycor Stadium
6681,2023_18_MIN_DET,2023,REG,18,2024-01-07,Sunday,13:00,MIN,NaN,DET,...,NaN,NaN,NaN,NaN,NaN,Kevin O'Connell,Dan Campbell,NaN,DET00,Ford Field

In [62]:
# Select relevant columns for team vs. team DataFrame
team_vs_team_df = nfl_data[['season', 'week', 'away_team', 'away_score', 'home_team', 'home_score']]

# Rename the columns for clarity
team_vs_team_df.columns = ['season', 'week', 'team_1', 'score_1', 'team_2', 'score_2']

# Drop rows with missing scores
#team_vs_team_df = team_vs_team_df.dropna(subset=['score_1', 'score_2'])

# Reset the index of the new DataFrame
team_vs_team_df.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
team_vs_team_df.head()

   season  week team_1  score_1 team_2  score_2
0    2023     1    DET     21.0     KC     20.0
1    2023     1    CAR     10.0    ATL     24.0
2    2023     1    HOU      9.0    BAL     25.0
3    2023     1    CIN      3.0    CLE     24.0
4    2023     1    JAX     31.0    IND     21.0

In [63]:
#defensive epa stats
weekly_nfl = nfl.import_weekly_data([2023])
# Create DF to get epa rushing and receiving vs d
columns = ['opponent_team', 'receiving_epa', 'rushing_epa','passing_yards','rushing_yards','pacr']
epa_df = weekly_nfl[columns]
# Replace all 0 values with NaN
epa_df = epa_df.groupby(['opponent_team']).apply(lambda group: group.mask((group == 0) | group.isna()).mean()).reset_index()
#epa_sum_df = epa_df[epa_df['opponent_team'] == 'LV']
epa_sum_df = epa_df.groupby('opponent_team').mean().reset_index()
epa_sum_df.head()

Downcasting floats.

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys

,opponent_team,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452
4,CAR,0.690034,0.901397,183.428574,43.299999,1.216007

In [64]:
#offensive epa stats
weekly_nfl = nfl.import_weekly_data([2023])
# Create DF to get epa rushing and receiving per team
columns_o = ['recent_team', 'receiving_epa', 'rushing_epa','passing_yards','rushing_yards','pacr']
epa_o_df = weekly_nfl[columns_o]
# Replace all 0 values with NaN
epa_o_df = epa_o_df.groupby(['recent_team']).apply(lambda group: group.mask((group == 0) | group.isna()).mean()).reset_index()
epa_o_df = epa_o_df.groupby('recent_team').mean().reset_index()
epa_o_df.head(15)

Downcasting floats.

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys

,recent_team,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr
0,ARI,0.171033,0.041799,202.500000,31.333334,0.792616
1,ATL,0.060303,-0.997411,200.285721,37.578949,1.126337
2,BAL,0.719736,-0.111102,208.833328,32.185184,1.092260
3,BUF,1.276444,0.497635,262.666656,23.633333,1.004082
4,CAR,0.363791,-0.538749,190.714279,23.520000,0.874517
5,CHI,0.401200,0.382774,183.428574,31.384615,1.111825
6,CIN,0.191425,-0.957080,205.000000,19.952381,0.888899
7,CLE,-0.604898,-0.465736,198.199997,27.222221,0.663519
8,DAL,0.719821,-0.498532,170.125000,21.757576,1.927957
9,DEN,0.482645,0.016738,217.500000,27.652174,1.037746
10,DET,1.360798,-0.651278,269.666656,29.799999,1.171425
11,GB,0.139597,-0.128246,216.600006,19.428572,0.709809
12,HOU,1.347205,-1.199462,238.000000,21.320000,0.975534
13,IND,0.417783,-1.099877,182.375000,35.000000,1.366095
14,JAX,0.637706,-0.875604,180.875000,24.321428,1.026918

In [65]:
epa_total = pd.merge(epa_sum_df, epa_o_df, left_on='opponent_team', right_on='recent_team', how='inner')
epa_total = epa_total.drop('recent_team', axis=1)
epa_total.columns = ['team', 'defense_receiving_epa', 'defense_rushing_epa', 'defense_passing_yards','defensive_rushing_yards', 'd_pacr','receiving_epa','rushing_epa','passing_yards','rushing_yards','pacr']
epa_total['opponent'] = epa_total['team']
epa_total.head(32)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF
4,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR
5,CHI,1.316207,-0.644190,236.714279,22.375000,1.082463,0.401200,0.382774,183.428574,31.384615,1.111825,CHI
6,CIN,0.454456,-0.012770,198.714279,37.260868,0.763711,0.191425,-0.957080,205.000000,19.952381,0.888899,CIN
7,CLE,-0.569608,-1.001112,143.800003,16.458334,0.824237,-0.604898,-0.465736,198.199997,27.222221,0.663519,CLE
8,DAL,-0.207427,-0.965716,128.444443,24.814816,0.933561,0.719821,-0.498532,170.125000,21.757576,1.927957,DAL
9,DEN,1.776634,0.317798,245.000000,39.769230,1.498523,0.482645,0.016738,217.500000,27.652174,1.037746,DEN
10,DET,0.120446,-0.683177,242.333328,14.923077,0.791065,1.360798,-0.651278,269.666656,29.799999,1.171425,DET
11,GB,0.551722,0.062479,179.166672,37.736843,1.146199,0.139597,-0.128246,216.600006,19.428572,0.709809,GB
12,HOU,0.690227,-0.570292,138.545456,27.125000,1.349111,1.347205,-1.199462,238.000000,21.320000,0.975534,HOU
13,IND,1.093852,-0.607643,265.166656,26.192308,0.987366,0.417783,-1.099877,182.375000,35.000000,1.366095,IND
14,JAX,0.258188,-0.897321,281.166656,21.523809,0.941360,0.637706,-0.875604,180.875000,24.321428,1.026918,JAX
15,KC,-0.389359,-0.203301,170.142853,25.041666,0.770087,0.706154,-0.405300,232.000000,24.517241,1.159285,KC
16,LA,0.378042,-0.095382,219.166672,34.904762,0.794113,1.391166,0.617142,279.500000,30.904762,0.895802,LA
17,LAC,1.832493,-0.660190,317.799988,30.176470,0.998295,1.117441,-0.272098,230.333328,24.181818,1.111288,LAC
18,LV,0.474198,0.200397,205.833328,31.739130,1.070074,0.778180,-1.383322,202.714279,20.045454,1.013367,LV
19,MIA,0.576914,0.145202,189.375000,27.480000,0.952220,1.928521,0.577604,277.571442,41.961540,1.543089,MIA
20,MIN,1.012407,-0.596400,180.750000,26.959999,1.280308,0.544873,-0.402013,279.833344,26.470589,0.930181,MIN
21,NE,0.871591,-0.964888,163.000000,19.500000,0.889010,-0.637535,-1.310419,160.875000,25.100000,0.719109,NE
22,NO,-0.343461,-0.682362,169.571426,24.083334,0.673734,0.651941,-0.987588,142.500000,21.296297,0.920470,NO
23,NYG,0.546507,0.436380,190.142853,34.038460,1.306262,-0.067938,-0.749682,147.000000,24.708334,0.962748,NYG
24,NYJ,0.514376,-0.554237,228.500000,31.192308,0.977879,-0.240297,-0.390076,182.833328,26.111111,0.897776,NYJ
25,PHI,0.609721,-0.502881,254.000000,19.750000,0.716825,0.871213,0.843237,257.000000,42.857143,0.807377,PHI
26,PIT,0.486049,0.000802,221.166672,35.950001,0.830547,-0.207988,-1.265805,174.166672,22.333334,0.864831,PIT
27,SEA,0.796703,-0.777231,281.200012,22.000000,1.051022,0.667163,0.434266,205.333328,28.944445,1.123448,SEA
28,SF,-0.561051,-0.123024,184.857147,17.814816,1.766855,2.012631,0.017931,199.571426,28.709677,1.129351,SF
29,TB,0.652733,-0.846728,220.833328,22.052631,1.087639,0.668473,-1.422294,217.600006,19.700001,0.880216,TB
30,TEN,1.358252,-0.980733,220.000000,21.103449,1.082740,0.559551,-0.641361,150.500000,36.777779,0.937080,TEN
31,WAS,1.155250,0.258037,261.000000,27.642857,0.843505,0.496647,0.033336,250.000000,22.913044,0.907595,WAS

In [66]:
# Create a new DataFrame with 'week', 'team_1', and 'team_2' columns
teams_df = team_vs_team_df[['week', 'team_1', 'team_2']].copy()

# Rename the columns for clarity
teams_df.columns = ['week', 'team', 'opponent']

# Create a new DataFrame with 'week', 'score_1', and 'score_2' columns
scores_df = team_vs_team_df[['week', 'score_1', 'score_2']].copy()

# Rename the columns for clarity
scores_df.columns = ['week', 'team_score', 'opponent_score']

# Concatenate the two DataFrames vertically
result_df = pd.concat([teams_df, scores_df], axis=1)

In [67]:
result_df.head(30)

    week team opponent  week  team_score  opponent_score
0      1  DET       KC     1        21.0            20.0
1      1  CAR      ATL     1        10.0            24.0
2      1  HOU      BAL     1         9.0            25.0
3      1  CIN      CLE     1         3.0            24.0
4      1  JAX      IND     1        31.0            21.0
5      1   TB      MIN     1        20.0            17.0
6      1  TEN       NO     1        15.0            16.0
7      1   SF      PIT     1        30.0             7.0
8      1  ARI      WAS     1        16.0            20.0
9      1   GB      CHI     1        38.0            20.0
10     1   LV      DEN     1        17.0            16.0
11     1  MIA      LAC     1        36.0            34.0
12     1  PHI       NE     1        25.0            20.0
13     1   LA      SEA     1        30.0            13.0
14     1  DAL      NYG     1        40.0             0.0
15     1  BUF      NYJ     1        16.0            22.0
16     2  MIN      PHI     2        28.0            34.0
17     2   GB      ATL     2        24.0            25.0
18     2   LV      BUF     2        10.0            38.0
19     2  BAL      CIN     2        27.0            24.0
20     2  SEA      DET     2        37.0            31.0
21     2  IND      HOU     2        31.0            20.0
22     2   KC      JAX     2        17.0             9.0
23     2  CHI       TB     2        17.0            27.0
24     2  LAC      TEN     2        24.0            27.0
25     2  NYG      ARI     2        31.0            28.0
26     2   SF       LA     2        30.0            23.0
27     2  NYJ      DAL     2        10.0            30.0
28     2  WAS      DEN     2        35.0            33.0
29     2  MIA       NE     2        24.0            17.0

In [68]:
final_df = result_df[['week', 'team', 'opponent', 'team_score', 'opponent_score']].copy()
final_df.head(5)

   week  week team opponent  team_score  opponent_score
0     1     1  DET       KC        21.0            20.0
1     1     1  CAR      ATL        10.0            24.0
2     1     1  HOU      BAL         9.0            25.0
3     1     1  CIN      CLE         3.0            24.0
4     1     1  JAX      IND        31.0            21.0

In [69]:
# Duplicate the DataFrame and swap 'team' and 'opponent' columns
df2 = final_df.copy()
df2.rename(columns={'team': 'opponent', 'opponent': 'team', 'opponent_score': 'team_score', 'team_score': 'opponent_score'}, inplace=True)
order = ['team', 'opponent', 'team_score', 'opponent_score']
df2 = df2[order]
df2.head()
final_df = final_df[order]
final_df.head(30)

   team opponent  team_score  opponent_score
0   DET       KC        21.0            20.0
1   CAR      ATL        10.0            24.0
2   HOU      BAL         9.0            25.0
3   CIN      CLE         3.0            24.0
4   JAX      IND        31.0            21.0
5    TB      MIN        20.0            17.0
6   TEN       NO        15.0            16.0
7    SF      PIT        30.0             7.0
8   ARI      WAS        16.0            20.0
9    GB      CHI        38.0            20.0
10   LV      DEN        17.0            16.0
11  MIA      LAC        36.0            34.0
12  PHI       NE        25.0            20.0
13   LA      SEA        30.0            13.0
14  DAL      NYG        40.0             0.0
15  BUF      NYJ        16.0            22.0
16  MIN      PHI        28.0            34.0
17   GB      ATL        24.0            25.0
18   LV      BUF        10.0            38.0
19  BAL      CIN        27.0            24.0
20  SEA      DET        37.0            31.0
21  IND      HOU        31.0            20.0
22   KC      JAX        17.0             9.0
23  CHI       TB        17.0            27.0
24  LAC      TEN        24.0            27.0
25  NYG      ARI        31.0            28.0
26   SF       LA        30.0            23.0
27  NYJ      DAL        10.0            30.0
28  WAS      DEN        35.0            33.0
29  MIA       NE        24.0            17.0

In [70]:
# Reset the index for both DataFrames
final_df = final_df.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df2.head()
# Reset the index if needed
stacked_df = pd.concat([final_df, df2], axis=0)
stacked_df.tail(20)

    team opponent  team_score  opponent_score
252  SEA      PIT         NaN             NaN
253  DEN      LAC         NaN             NaN
254   KC      CIN         NaN             NaN
255  MIN       GB         NaN             NaN
256  ARI      SEA         NaN             NaN
257  BAL      PIT         NaN             NaN
258  CAR       TB         NaN             NaN
259  CIN      CLE         NaN             NaN
260  DET      MIN         NaN             NaN
261   GB      CHI         NaN             NaN
262  IND      HOU         NaN             NaN
263  LAC       KC         NaN             NaN
264   LV      DEN         NaN             NaN
265  MIA      BUF         NaN             NaN
266   NE      NYJ         NaN             NaN
267   NO      ATL         NaN             NaN
268  NYG      PHI         NaN             NaN
269   SF       LA         NaN             NaN
270  TEN      JAX         NaN             NaN
271  WAS      DAL         NaN             NaN

In [71]:
team = stacked_df.groupby('team')

In [72]:
team_and_stats = pd.merge(epa_total, stacked_df, on='team', how='inner')
team_and_stats.head(20)
team_and_stats = team_and_stats.dropna(subset=['team_score', 'opponent_score'])
#team_and_stats_two = team_and_stats(['team']).mean().reset_index()

team_and_stats.head(32)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent_x,opponent_y,team_score,opponent_score
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,WAS,16.0,20.0
1,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,SF,16.0,35.0
2,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,LA,9.0,26.0
9,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,NYG,28.0,31.0
10,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,DAL,28.0,16.0
11,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,CIN,20.0,34.0
17,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,DET,6.0,20.0
18,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,JAX,7.0,23.0
26,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,CAR,24.0,10.0
27,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,GB,25.0,24.0
28,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,HOU,21.0,19.0
29,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,WAS,16.0,24.0
34,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,CIN,27.0,24.0
35,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,CLE,28.0,3.0
36,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,PIT,10.0,17.0
37,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,TEN,24.0,16.0
42,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,HOU,25.0,9.0
43,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,BAL,IND,19.0,22.0
51,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,NYJ,16.0,22.0
52,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,WAS,37.0,3.0
59,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,LV,38.0,10.0
60,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,MIA,48.0,20.0
61,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,JAX,20.0,25.0
62,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,BUF,NYG,14.0,9.0
68,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,ATL,10.0,24.0
69,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,SEA,27.0,37.0
70,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,DET,24.0,42.0
71,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,MIA,21.0,42.0
77,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,NO,17.0,20.0
78,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,CAR,MIN,13.0,21.0
85,CHI,1.316207,-0.644190,236.714279,22.375000,1.082463,0.401200,0.382774,183.428574,31.384615,1.111825,CHI,TB,17.0,27.0
86,CHI,1.316207,-0.644190,236.714279,22.375000,1.082463,0.401200,0.382774,183.428574,31.384615,1.111825,CHI,KC,10.0,41.0

In [38]:
#######

In [73]:
team_and_stats.dtypes
team_and_stats['team'] = team_and_stats['team'].astype(object)
team_and_stats['opponent'] = team_and_stats['opponent_y'].astype(object)

In [74]:
team_and_stats.head(8)

,team,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent_x,opponent_y,team_score,opponent_score,opponent
0,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,WAS,16.0,20.0,WAS
1,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,SF,16.0,35.0,SF
2,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,LA,9.0,26.0,LA
9,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,NYG,28.0,31.0,NYG
10,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,DAL,28.0,16.0,DAL
11,ARI,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,ARI,CIN,20.0,34.0,CIN
17,ATL,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,DET,6.0,20.0,DET
18,ATL,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,ATL,JAX,7.0,23.0,JAX

In [75]:
# create opponent stats
team_and_stats.head()

team_and_stats_opp = pd.merge(epa_total, stacked_df, on='opponent', how='inner')
#ex = team_and_stats.mean().reset_index()
#team_and_stats_opp = team_and_stats_opp.dropna(axis=1, how='any')
team_and_stats_opp = team_and_stats_opp.dropna(subset=['team_score', 'opponent_score'])

team_and_stats_opp.head()

#remove_team = ['team_x', 'team_y']
#team_and_stats_opp = team_and_stats_opp.drop(columns=remove_team)

,team_x,defense_receiving_epa,defense_rushing_epa,defense_passing_yards,defensive_rushing_yards,d_pacr,receiving_epa,rushing_epa,passing_yards,rushing_yards,pacr,opponent,team_y,team_score,opponent_score
0,ARI,1.490556,0.281224,266.333344,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,ARI,NYG,31.0,28.0
1,ARI,1.490556,0.281224,266.333344,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,ARI,DAL,16.0,28.0
2,ARI,1.490556,0.281224,266.333344,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,ARI,CIN,34.0,20.0
8,ARI,1.490556,0.281224,266.333344,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,ARI,WAS,20.0,16.0
9,ARI,1.490556,0.281224,266.333344,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,ARI,SF,35.0,16.0

In [76]:
team_and_stats_test_data_two = team_and_stats.merge(team_and_stats_opp, on='opponent', how='right')
team_and_stats_test_data_two = team_and_stats_test_data_two.drop_duplicates()
#team_and_stats_test_data_two = team_and_stats_test_data.dropna(axis=1, how='any')
team_and_stats_test_data_two.head()

,team,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,...,defensive_rushing_yards_y,d_pacr_y,receiving_epa_y,rushing_epa_y,passing_yards_y,rushing_yards_y,pacr_y,team_y,team_score_y,opponent_score_y
0,CIN,0.454456,-0.012770,198.714279,37.260868,0.763711,0.191425,-0.957080,205.000000,19.952381,...,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,NYG,31.0,28.0
1,DAL,-0.207427,-0.965716,128.444443,24.814816,0.933561,0.719821,-0.498532,170.125000,21.757576,...,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,NYG,31.0,28.0
2,LA,0.378042,-0.095382,219.166672,34.904762,0.794113,1.391166,0.617142,279.500000,30.904762,...,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,NYG,31.0,28.0
3,NYG,0.546507,0.436380,190.142853,34.038460,1.306262,-0.067938,-0.749682,147.000000,24.708334,...,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,NYG,31.0,28.0
4,SF,-0.561051,-0.123024,184.857147,17.814816,1.766855,2.012631,0.017931,199.571426,28.709677,...,32.0,1.13765,0.171033,0.041799,202.5,31.333334,0.792616,NYG,31.0,28.0

In [77]:
#merge opponent stats on team

team_and_stats_test_data = team_and_stats.merge(team_and_stats_opp, on='opponent', how='right')
#team_and_stats_test_data = team_and_stats_test_data.drop(['team_score_y', 'opponent_score_y'], axis=1)
team_and_stats_test_data['opponent_score_x'] = team_and_stats_test_data['opponent_score_x']
team_and_stats_test_data['opponent_score_y'] = team_and_stats_test_data['opponent_score_y']
#team_and_stats_test_data = team_and_stats_test_data.dropna(axis=1, how='any')
# List of columns to remove
remove = ['team_y', 'team_score_y', 'opponent_score_y', 'opponent_y', 'team_x','opponent_x']

# Remove the columns
team_and_stats_test_data = team_and_stats_test_data.drop(columns=remove)
team_and_stats_test_data = team_and_stats_test_data.drop_duplicates()

team_and_stats_test_data.head(12)

,team,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,...,defense_receiving_epa_y,defense_rushing_epa_y,defense_passing_yards_y,defensive_rushing_yards_y,d_pacr_y,receiving_epa_y,rushing_epa_y,passing_yards_y,rushing_yards_y,pacr_y
0,CIN,0.454456,-0.012770,198.714279,37.260868,0.763711,0.191425,-0.957080,205.000000,19.952381,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
1,DAL,-0.207427,-0.965716,128.444443,24.814816,0.933561,0.719821,-0.498532,170.125000,21.757576,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
2,LA,0.378042,-0.095382,219.166672,34.904762,0.794113,1.391166,0.617142,279.500000,30.904762,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
3,NYG,0.546507,0.436380,190.142853,34.038460,1.306262,-0.067938,-0.749682,147.000000,24.708334,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
4,SF,-0.561051,-0.123024,184.857147,17.814816,1.766855,2.012631,0.017931,199.571426,28.709677,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
5,WAS,1.155250,0.258037,261.000000,27.642857,0.843505,0.496647,0.033336,250.000000,22.913044,...,1.490556,0.281224,266.333344,32.00,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
36,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
37,DET,0.120446,-0.683177,242.333328,14.923077,0.791065,1.360798,-0.651278,269.666656,29.799999,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
38,GB,0.551722,0.062479,179.166672,37.736843,1.146199,0.139597,-0.128246,216.600006,19.428572,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
39,HOU,0.690227,-0.570292,138.545456,27.125000,1.349111,1.347205,-1.199462,238.000000,21.320000,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
40,JAX,0.258188,-0.897321,281.166656,21.523809,0.941360,0.637706,-0.875604,180.875000,24.321428,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
41,WAS,1.155250,0.258037,261.000000,27.642857,0.843505,0.496647,0.033336,250.000000,22.913044,...,0.621981,-1.190334,191.166672,24.75,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337

In [78]:
excel_file = 'test_data_ml_two.xlsx'
team_and_stats_test_data.to_excel(excel_file, index=False)

In [79]:
column_names_test = [
    'defense_receiving_epa_x', 'defense_rushing_epa_x', 'defense_passing_yards_x',
    'd_pacr_x', 'receiving_epa_x', 'rushing_epa_x', 'passing_yards_x','pacr_x',
     'defense_receiving_epa_y', 'defense_rushing_epa_y',
    'defense_passing_yards_y','d_pacr_y', 'receiving_epa_y', 'rushing_epa_y',
    'passing_yards_y', 'pacr_y'
]

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

# model
# Split data into features (X) and target variable (y)
X = team_and_stats_test_data[column_names_test]
y = team_and_stats_test_data[['team_score_x', 'opponent_score_x']]

# Encode categorical variables using one-hot encoding if needed
scaler = StandardScaler()
#X_scaled = scaler.fit_transform(X)
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Create a Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)
r2 = r2_score(y_test, predictions)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2): {r2}")

Mean Absolute Error (MAE): 7.120184516906738
Mean Squared Error (MSE): 82.86342978433282
Root Mean Squared Error (RMSE): 9.101450848057368
R-squared (R2): 0.25316870770594596

In [82]:
# create DF for upcoming week
# create stats to show upcpoming games
grouped = nfl_data.groupby('week')

# Select the group corresponding to week 6
week_6_data = grouped.get_group(7)
get_teams =['home_team','away_team','home_score','away_score']
schedule_week_df = week_6_data[get_teams]
schedule_week_df.reset_index(drop=True, inplace=True)
schedule_week_df.head()

  home_team away_team  home_score  away_score
0        NO       JAX         NaN         NaN
1       BAL       DET         NaN         NaN
2       CHI        LV         NaN         NaN
3       IND       CLE         NaN         NaN
4        NE       BUF         NaN         NaN

In [83]:
# Create a reversed DataFrame
reversed_df = pd.DataFrame({'home_team': schedule_week_df['away_team'], 'away_team': schedule_week_df['home_team'],})

# Concatenate the original and reversed DataFrames
final_week_df = pd.concat([schedule_week_df, reversed_df], ignore_index=True)
final_week_df = final_week_df.rename(columns={'home_team': 'team', 'away_team': 'opponent'})

final_week_df.head()

  team opponent  home_score  away_score
0   NO      JAX         NaN         NaN
1  BAL      DET         NaN         NaN
2  CHI       LV         NaN         NaN
3  IND      CLE         NaN         NaN
4   NE      BUF         NaN         NaN

In [84]:
#Get stats for team
selected_columns = ['team','defense_receiving_epa', 'defense_rushing_epa', 'defense_passing_yards', 'defensive_rushing_yards', 'd_pacr', 'receiving_epa', 'rushing_epa', 'passing_yards', 'rushing_yards', 'pacr']

team_stats = team_and_stats[selected_columns]
team_stats_week = team_stats.drop_duplicates()
team_stats_week.reset_index(drop=True, inplace=True)
columns_x = {col: col + '_x' for col in team_stats_week.columns if col != 'team'}
team_stats_week = team_stats_week.rename(columns=columns_x)
team_stats_week.head()

,team,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,pacr_x
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082
4,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517

In [85]:
# Merge on final_week_df
x_team = pd.merge(team_stats_week, final_week_df, on='team', how='left')
x_team = x_team.drop(columns=['home_score','away_score'])
x_team.head()

,team,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,pacr_x,opponent
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616,SEA
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337,TB
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260,DET
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082,NE
4,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517,NaN

In [86]:
selected_columns_y = ['team','defense_receiving_epa', 'defense_rushing_epa', 'defense_passing_yards', 'defensive_rushing_yards', 'd_pacr', 'receiving_epa', 'rushing_epa', 'passing_yards', 'rushing_yards', 'pacr']


team_stats_y = team_and_stats[selected_columns_y]
team_stats_week_y = team_stats_y.drop_duplicates()
team_stats_week_y.reset_index(drop=True, inplace=True)
columns_y = {col: col + '_y' for col in team_stats_week_y.columns if col != 'opponent'}
team_stats_week_y = team_stats_week_y.rename(columns=columns_y)
team_stats_week_y.rename(columns={'team_y': 'opponent'}, inplace=True)

team_stats_week_y.head()

,opponent,defense_receiving_epa_y,defense_rushing_epa_y,defense_passing_yards_y,defensive_rushing_yards_y,d_pacr_y,receiving_epa_y,rushing_epa_y,passing_yards_y,rushing_yards_y,pacr_y
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082
4,CAR,0.690034,0.901397,183.428574,43.299999,1.216007,0.363791,-0.538749,190.714279,23.520000,0.874517

In [87]:
# Merge on x_team 
test_data_df = pd.merge(team_stats_week_y, x_team, on='opponent', how='left')
test_data_df = test_data_df.dropna(subset=['team'])
# Remove duplicate entries
test_data_df_two = test_data_df.drop_duplicates()

test_data_df_two.head(30)

,opponent,defense_receiving_epa_y,defense_rushing_epa_y,defense_passing_yards_y,defensive_rushing_yards_y,d_pacr_y,receiving_epa_y,rushing_epa_y,passing_yards_y,rushing_yards_y,...,defense_receiving_epa_x,defense_rushing_epa_x,defense_passing_yards_x,defensive_rushing_yards_x,d_pacr_x,receiving_epa_x,rushing_epa_x,passing_yards_x,rushing_yards_x,pacr_x
0,ARI,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,...,0.796703,-0.777231,281.200012,22.000000,1.051022,0.667163,0.434266,205.333328,28.944445,1.123448
1,ATL,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,...,0.652733,-0.846728,220.833328,22.052631,1.087639,0.668473,-1.422294,217.600006,19.700001,0.880216
2,BAL,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,...,0.120446,-0.683177,242.333328,14.923077,0.791065,1.360798,-0.651278,269.666656,29.799999,1.171425
3,BUF,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,...,0.871591,-0.964888,163.000000,19.500000,0.889010,-0.637535,-1.310419,160.875000,25.100000,0.719109
5,CHI,1.316207,-0.644190,236.714279,22.375000,1.082463,0.401200,0.382774,183.428574,31.384615,...,0.474198,0.200397,205.833328,31.739130,1.070074,0.778180,-1.383322,202.714279,20.045454,1.013367
7,CLE,-0.569608,-1.001112,143.800003,16.458334,0.824237,-0.604898,-0.465736,198.199997,27.222221,...,1.093852,-0.607643,265.166656,26.192308,0.987366,0.417783,-1.099877,182.375000,35.000000,1.366095
9,DEN,1.776634,0.317798,245.000000,39.769230,1.498523,0.482645,0.016738,217.500000,27.652174,...,0.551722,0.062479,179.166672,37.736843,1.146199,0.139597,-0.128246,216.600006,19.428572,0.709809
10,DET,0.120446,-0.683177,242.333328,14.923077,0.791065,1.360798,-0.651278,269.666656,29.799999,...,-0.021793,-1.041254,169.428574,26.636364,0.884924,0.719736,-0.111102,208.833328,32.185184,1.092260
11,GB,0.551722,0.062479,179.166672,37.736843,1.146199,0.139597,-0.128246,216.600006,19.428572,...,1.776634,0.317798,245.000000,39.769230,1.498523,0.482645,0.016738,217.500000,27.652174,1.037746
13,IND,1.093852,-0.607643,265.166656,26.192308,0.987366,0.417783,-1.099877,182.375000,35.000000,...,-0.569608,-1.001112,143.800003,16.458334,0.824237,-0.604898,-0.465736,198.199997,27.222221,0.663519
14,JAX,0.258188,-0.897321,281.166656,21.523809,0.941360,0.637706,-0.875604,180.875000,24.321428,...,-0.343461,-0.682362,169.571426,24.083334,0.673734,0.651941,-0.987588,142.500000,21.296297,0.920470
15,KC,-0.389359,-0.203301,170.142853,25.041666,0.770087,0.706154,-0.405300,232.000000,24.517241,...,1.832493,-0.660190,317.799988,30.176470,0.998295,1.117441,-0.272098,230.333328,24.181818,1.111288
16,LA,0.378042,-0.095382,219.166672,34.904762,0.794113,1.391166,0.617142,279.500000,30.904762,...,0.486049,0.000802,221.166672,35.950001,0.830547,-0.207988,-1.265805,174.166672,22.333334,0.864831
17,LAC,1.832493,-0.660190,317.799988,30.176470,0.998295,1.117441,-0.272098,230.333328,24.181818,...,-0.389359,-0.203301,170.142853,25.041666,0.770087,0.706154,-0.405300,232.000000,24.517241,1.159285
18,LV,0.474198,0.200397,205.833328,31.739130,1.070074,0.778180,-1.383322,202.714279,20.045454,...,1.316207,-0.644190,236.714279,22.375000,1.082463,0.401200,0.382774,183.428574,31.384615,1.111825
19,MIA,0.576914,0.145202,189.375000,27.480000,0.952220,1.928521,0.577604,277.571442,41.961540,...,0.609721,-0.502881,254.000000,19.750000,0.716825,0.871213,0.843237,257.000000,42.857143,0.807377
20,MIN,1.012407,-0.596400,180.750000,26.959999,1.280308,0.544873,-0.402013,279.833344,26.470589,...,-0.561051,-0.123024,184.857147,17.814816,1.766855,2.012631,0.017931,199.571426,28.709677,1.129351
21,NE,0.871591,-0.964888,163.000000,19.500000,0.889010,-0.637535,-1.310419,160.875000,25.100000,...,0.324860,-0.434129,215.333328,30.846153,1.105452,1.276444,0.497635,262.666656,23.633333,1.004082
22,NO,-0.343461,-0.682362,169.571426,24.083334,0.673734,0.651941,-0.987588,142.500000,21.296297,...,0.258188,-0.897321,281.166656,21.523809,0.941360,0.637706,-0.875604,180.875000,24.321428,1.026918
23,NYG,0.546507,0.436380,190.142853,34.038460,1.306262,-0.067938,-0.749682,147.000000,24.708334,...,1.155250,0.258037,261.000000,27.642857,0.843505,0.496647,0.033336,250.000000,22.913044,0.907595
25,PHI,0.609721,-0.502881,254.000000,19.750000,0.716825,0.871213,0.843237,257.000000,42.857143,...,0.576914,0.145202,189.375000,27.480000,0.952220,1.928521,0.577604,277.571442,41.961540,1.543089
26,PIT,0.486049,0.000802,221.166672,35.950001,0.830547,-0.207988,-1.265805,174.166672,22.333334,...,0.378042,-0.095382,219.166672,34.904762,0.794113,1.391166,0.617142,279.500000,30.904762,0.895802
27,SEA,0.796703,-0.777231,281.200012,22.000000,1.051022,0.667163,0.434266,205.333328,28.944445,...,1.490556,0.281224,266.333344,32.000000,1.137650,0.171033,0.041799,202.500000,31.333334,0.792616
28,SF,-0.561051,-0.123024,184.857147,17.814816,1.766855,2.012631,0.017931,199.571426,28.709677,...,1.012407,-0.596400,180.750000,26.959999,1.280308,0.544873,-0.402013,279.833344,26.470589,0.930181
29,TB,0.652733,-0.846728,220.833328,22.052631,1.087639,0.668473,-1.422294,217.600006,19.700001,...,0.621981,-1.190334,191.166672,24.750000,0.799188,0.060303,-0.997411,200.285721,37.578949,1.126337
31,WAS,1.155250,0.258037,261.000000,27.642857,0.843505,0.496647,0.033336,250.000000,22.913044,...,0.546507,0.436380,190.142853,34.038460,1.306262,-0.067938,-0.749682,147.000000,24.708334,0.962748

In [88]:
test_data_df_two.to_excel('weekly_test_data_two.xlsx', index=False)

In [89]:
# Now, use the trained model to predict rb_yards for df_test
X_test = test_data_df[column_names_test]
y_pred = model.predict(X_test)

# The predictions are stored in y_pred
print("Predicted Scores:")
print(y_pred)

Predicted Scores:
[[31.494274  19.184288 ]
 [19.79119   16.416998 ]
 [21.32602   18.764679 ]
 [ 9.027967  30.437775 ]
 [23.044674  22.213593 ]
 [12.522018  19.99978  ]
 [26.574245  22.985111 ]
 [18.617287  25.675991 ]
 [21.371317  22.907104 ]
 [19.24511   18.716137 ]
 [16.148878  23.479076 ]
 [21.781614  24.373844 ]
 [13.613529  26.844418 ]
 [26.5602    23.64011  ]
 [22.190033  22.950123 ]
 [25.95903   28.350178 ]
 [31.740707  15.661825 ]
 [25.950531  10.1346035]
 [17.750315  12.87913  ]
 [24.596899  19.237408 ]
 [25.69572   27.999493 ]
 [27.959152  14.76448  ]
 [19.192429  31.338543 ]
 [16.085575  28.591228 ]
 [16.017073  21.26963  ]
 [20.921677  24.165356 ]]

In [90]:
# add predicted scores into df: 
predict_cols = ['team','opponent']
df_predictions = test_data_df[predict_cols]
scores_df = pd.DataFrame(y_pred, columns=['team_score', 'opponent_score'])
df_predictions = pd.concat([df_predictions, scores_df], axis=1)
df_predictions = df_predictions.dropna()
df_predictions.head(35)
#df_predictions.to_excel('predicted_scores.xlsx', index=False)

   team opponent  team_score  opponent_score
0   SEA      ARI   31.494274       19.184288
1    TB      ATL   19.791189       16.416998
2   DET      BAL   21.326019       18.764679
3    NE      BUF    9.027967       30.437775
5    LV      CHI   12.522018       19.999781
7   IND      CLE   18.617287       25.675991
9    GB      DEN   19.245110       18.716137
10  BAL      DET   16.148878       23.479076
11  DEN       GB   21.781614       24.373844
13  CLE      IND   26.560200       23.640110
14   NO      JAX   22.190033       22.950123
15  LAC       KC   25.959030       28.350178
16  PIT       LA   31.740707       15.661825
17   KC      LAC   25.950531       10.134604
18  CHI       LV   17.750315       12.879130
19  PHI      MIA   24.596899       19.237408
20   SF      MIN   25.695721       27.999493
21  BUF       NE   27.959152       14.764480
22  JAX       NO   19.192429       31.338543
23  WAS      NYG   16.085575       28.591228
25  MIA      PHI   20.921677       24.165356

In [91]:
# stack df to get averages
# Create a new DataFrame with swapped 'team' and 'opponent'
swapped_df = df_predictions.copy()
swapped_df['team'], swapped_df['opponent'] = df_predictions['opponent'], df_predictions['team']
swapped_df['team_score'], swapped_df['opponent_score'] = df_predictions['opponent_score'],df_predictions['team_score']

# Concatenate the original and swapped DataFrames
result_df = pd.concat([df_predictions, swapped_df], ignore_index=True)

#groupby team and get mean
final_pred = result_df.groupby(['team', 'opponent'])[['team_score', 'opponent_score']].mean().reset_index()
final_pred.head(30)
#final_pred.to_excel('predicted_scores.xlsx', index=False)

   team opponent  team_score  opponent_score
0   ARI      SEA   19.184288       31.494274
1   ATL       TB   16.416998       19.791189
2   BAL      DET   17.456779       22.402548
3   BUF       NE   29.198463       11.896223
4   CHI       LV   18.875048       12.700575
5   CLE      IND   26.118095       21.128698
6   DEN       GB   20.248875       21.809477
7   DET      BAL   22.402548       17.456779
8    GB      DEN   21.809477       20.248875
9   IND      CLE   21.128698       26.118095
10  JAX       NO   21.071276       26.764288
11   KC      LAC   27.150354       18.046818
12   LA      PIT   15.661825       31.740707
13  LAC       KC   18.046818       27.150354
14   LV      CHI   12.700575       18.875048
15  MIA      PHI   20.079542       24.381126
16  MIN       SF   27.999493       25.695721
17   NE      BUF   11.896223       29.198463
18   NO      JAX   26.764288       21.071276
19  NYG      WAS   28.591228       16.085575
20  PHI      MIA   24.381126       20.079542
21  PIT       LA   31.740707       15.661825
22  SEA      ARI   31.494274       19.184288
23   SF      MIN   25.695721       27.999493
24   TB      ATL   19.791189       16.416998
25  WAS      NYG   16.085575       28.591228

In [94]:
final_pred.to_excel('predicted_scores_week_7.xlsx', index=False)
final_pred.head(30)

   team opponent  team_score  opponent_score
0   ARI      SEA   19.184288       31.494274
1   ATL       TB   16.416998       19.791189
2   BAL      DET   17.456779       22.402548
3   BUF       NE   29.198463       11.896223
4   CHI       LV   18.875048       12.700575
5   CLE      IND   26.118095       21.128698
6   DEN       GB   20.248875       21.809477
7   DET      BAL   22.402548       17.456779
8    GB      DEN   21.809477       20.248875
9   IND      CLE   21.128698       26.118095
10  JAX       NO   21.071276       26.764288
11   KC      LAC   27.150354       18.046818
12   LA      PIT   15.661825       31.740707
13  LAC       KC   18.046818       27.150354
14   LV      CHI   12.700575       18.875048
15  MIA      PHI   20.079542       24.381126
16  MIN       SF   27.999493       25.695721
17   NE      BUF   11.896223       29.198463
18   NO      JAX   26.764288       21.071276
19  NYG      WAS   28.591228       16.085575
20  PHI      MIA   24.381126       20.079542
21  PIT       LA   31.740707       15.661825
22  SEA      ARI   31.494274       19.184288
23   SF      MIN   25.695721       27.999493
24   TB      ATL   19.791189       16.416998
25  WAS      NYG   16.085575       28.591228